.btn {
    &:link,
    &:visited{
        width: 20rem;
        display: block;
        text-transform: uppercase;
        color: var(--color-ecru);
        border: 2px solid var(--color-ecru);
        background-color: var(--color-primary);
        text-decoration: none;
        padding: 2rem;
        font-weight: 500;
        font-size: 2rem;

        background-size: 250%;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-ecru) 50%);
        transition: all .4s;
        transform: translateX(1rem);
    }

    &:hover,
    &:active{
        opacity: 1;
    }
    
    &:hover,
    &:active {
        background-position: 100%;
        color: var(--color-white);
        border: transparent;
    }
}

.services{
    display: flex;
    margin: 0 6rem;
    flex-wrap: wrap;
}

.service-box{
    background-color: var(--color-ecru);
    width: 20rem;
    // height: 7rem;
    margin: 1.5rem;
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    overflow: hidden;
    text-decoration: none;
    &__title{
        color: var(--color-primary);
        font-size: 2.3rem;
        padding: 3rem 6rem 3rem 0;
        font-weight: 500;
        transform: translate(- 1.6rem);
        transition: all .5s;
    }

    &__icon {
        height: 11rem;
        width: 4.8rem;
        fill: var(--color-ecru);
        opacity: 0;
        transform: scale(.5);
        transition: all .5s;
    }

    &:hover {
        background-color: var(--color-primary);
    }

    &:hover &__title{
        color: var(--color-white);
        transform: translate(3rem);
    }

    &:hover &__icon {
        opacity: 1;
        transform: scale(1.4);
    }
}

.suggestion-instances{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.suggestion-instance{
    border-radius: 50%;
    border: 3px solid var(--color-ecru);
    width: 24rem;
    height: 24rem;
    display: flex;
    position: relative;

    background-size: cover;
    background-position: center;
    &-1{
        background-image: url(featured-1.jpg);
    }

    &-2{
        background-image: url(featured-2.jpg);
    }

    &-3{
        background-image: url(featured-3.jpg);
    }

    &__content {
        color: var(--color-primary);
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all .5s;
    }

    &__title{
        font-size: 2.7rem;
        font-weight: 600;
    }   

    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 23.7rem;
        height: 23.7rem;
        border-radius: 50%;
        background-color: rgba($color-ecru,0.7);
        opacity: 0;
        transition: opacity .2s;
    }

    &:hover &__overlay{
        opacity: 1;
    }

    &:hover &__content{
        top: 50%;
        opacity: 1;
    }
}

.arrow-icon{
    margin-top: 2rem;
    height: 3rem;
    width: 3rem;
    fill: var(--color-primary);

    &:hover{
        fill: var(--color-raw-umber);
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;

    &__column{
        flex-basis: 30%;
        margin: 0.5rem;
    }

    &__image {
        width: 100%;
        margin-top: .5rem;
        overflow: hidden;

        & img{
            width: 100%;
            height: auto;
            filter: saturate(0%) brightness(100%) contrast(100%);
            transition: all .4s;

            &:hover{
                filter: none;
                transform:scale(1.25);
            }
        }
    }
}

.container{
    width: 30%;
    height: 60rem; 
    margin: 0 auto;
    position: relative;
}

.product-card{
    width: 100%;
    height: 55rem;
    background-color: var(--color-ecru-2);
    border: 3px solid transparent;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    &:hover{
        border: 3px solid var(--color-vanilla-2);
    }
    &__img img{
        width: 100%;
        height: auto;
    }

    &__stars{
        fill: gold;
    }

    &__icon {
        width: 2rem;
        height: 2rem;
        margin: .5rem;
    }

    &__footer{
        display: flex;
        align-content: center;
        flex-direction: column;
    }

    &__name {
        font-size: 2.9rem;
        font-weight: 500;
        color: var(--color-primary);
    }

    &__price{
        color: var(--color-primary-light);
        font-size: 1.9rem;
    }

    &__btn{
        margin: 0 auto;
    }
}

.carousel{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &__slider{
        display: flex;
        width: 300%;
        transition: all .4s;
    }


    &__radio-btn{
        // Radio buttons allow choosing only one option at the time. 
        display: none;
    }
    &__nav{
        display: flex;
        // Set the order to 1 to make it come to the bottom, after all the elements, which have a 0 order by default.
        order: 1;
        justify-content: center;
    }

    &__radio-label{
        display: block;
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        border: 2px solid var(--color-ecru);
        background-color: var(--color-white);
        margin: 1.6rem;
        cursor: pointer;
    }

    // Labels will change their color whenever checked
    &__radio-btn:checked:nth-of-type(1) ~ &__nav &__radio-label:nth-of-type(1){
        background-color: var(--color-ecru);
    }

    &__radio-btn:checked:nth-of-type(2) ~ &__nav &__radio-label:nth-of-type(2){
        background-color: var(--color-ecru);
    }

    &__radio-btn:checked:nth-of-type(3) ~ &__nav &__radio-label:nth-of-type(3){
        background-color: var(--color-ecru);
    }

    &__radio-btn:checked:nth-last-of-type(2) ~ &__slider{
        translate: (-33.33%);
    }
    &__radio-btn:checked:nth-last-of-type(1) ~ &__slider{
        translate: (-66.66%);
    }
}

.left-arrow, .right-arrow{
    width: 3rem;
    height: 3rem;
    fill: var(--color-ecru);
    position: absolute;
    cursor: pointer;
}

.left-arrow{
    top: 50%;
    left: -20%;
}

.right-arrow{
    top: 50%;
    right: -20%;
}