.header {
    width: 100%;
    height: 90vh;
    background-size: 64rem;
    background-position: 90% 48%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 3;
    &__img {
        width: 50%;
        position: absolute;
        transform: translate(90%, 5%);
    }
    &__bar{
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        position: relative;
        height: 12rem;
        width: auto;
        border-radius: 200px;
    }

    &__main-nav {
        position: relative;
        list-style: none;
        display: flex;
        margin: 5rem 2rem 0 0;
        flex-wrap: wrap;
        & li{
            margin-left: 4rem;
            display: block;

            & a:link,
            & a:visited {
                color:var(--color-white);
                text-decoration: none;
                font-size: 1.4rem;
                text-transform: uppercase;
                font-weight: 400;
                padding-bottom: .8rem;
                border-bottom:  2px solid transparent;
                transition: border-bottom .4s;
                -webkit-transition: border-bottom .4s;
            }

            & a:hover,
            & a:active {
                border-bottom: 2px solid var(--color-ecru);
            }
        }
    }

    &__box{
        position: absolute;
        top:35rem;
        left: 20rem;
        text-align: left;
        &-text  h1{
            font-size: 7rem;
            color: var(--color-ecru);
            font-weight: 500;
        }

        &-text h2 {
            font-size: 6rem;
            color: var(--color-white);
            font-weight: 500;
            width:50%;
            margin-bottom: 3rem;
        }
    }
}

// For each section 
.section-header h2{
    color: var(--color-ecru);
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 1.2rem;
}

.section-header h1{
    color: var(--color-vanilla-2);
    font-size: 4.8rem;
    text-transform: capitalize;
    margin-bottom: 2.4rem;
}

.primary-background{
    z-index: -2;
    height: 100%;
    width: 100%;
    background-color: var(--color-primary);
    position: absolute;

}

// Svg waves
.svg-wave{
    position: absolute;
    z-index: -1;
}

// Services section

.section-services, .section-suggestions{
    background-color: transparent;
    text-align: center;
    padding: 38rem 0 0;
}

.section-menu {
    padding: 26rem 0 0;
    text-align: center;
    background-color: transparent;
}

.section-suggestions{
    height: 100vh;
}

.section-featured{
    text-align: center;
    padding: 30rem 0 0;
}

